h2 {
    color: red;
}
p.col {
    color: #f2187a
}
.green {
    color: green
}

#yellow {
    color: yellow
}

#alive {
    font-family: 'Arial';
    font-size: 26pt;
    text-align: center
}

.go-top--show {
    display: block;
}

.go-top {
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    /* display: none; */
    font-size: 18pt;
    color: rgba(0, 60, 160, 0.5);
    background-color: rgba(0, 40, 140, 0.1);
    padding: 5px 15px 12px 15px;
    border-radius: 50%;
}